* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

.dashboard {
    display: flex;
}

.sidebar {
    padding: 1rem;
    width: 4rem;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 4rem;
    transition: all 0.5s ease;
}

.sidebar.open ul {
    width: 14rem;
    transition: width 0.5s ease;
}

.sidebar ul li img {
    width: 2rem;
    opacity: 0.5;
}

.sidebar li span {
    margin-left: 10%;
    font-size: 1.2rem;
}

.sidebar.open {
    width: 23rem;
}

.sidebar li {
    margin-top: .5rem;
    height: 3.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0 1rem;
    color: rgba(47, 40, 40, 0.962);
}

.sidebar li.active {
    background-color: rgb(0, 175, 145);
    color: white;
}

.sidebar li:hover {
    background-color: rgb(0, 175, 145);
}

.sidebar li.active img {
    opacity: 2;
}

.sidebar li:hover img {
    opacity: 1;
}

.sidebarItem {
    display: flex;
    align-items: center;
}

.showText {
    display: inline-block;
}

.hideText {
    display: none;
}

.content {
    position: absolute;
    width: 92%;
    top: 0;
    left: 6rem;
    transition: transform 0.5s ease;
}

.content.expanded {
    transform: translateX(10rem);
    pointer-events: none;
}

.sidebar li img {
    width: 2rem;
    opacity: 0.5;
    filter: brightness(0%) saturate(0%);
}

.sidebar li.active img {
    filter: none;
}

.button-container {
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.scroll-background {
    background-color: rgb(0, 175, 145);
}

.profile-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 10px;
}

.profile-button h2 {
    margin: 0 15px;
    font-size: 1rem;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-icon {
    width: 15px;
}

.dropdown {
    position: absolute;
    top: 90%;
    right: 20px;
    display: none;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12rem;
}

.dropdown ul li {
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.dropdown ul li:hover{
    background-color: rgb(0, 175, 145);
    color: white;
}

.dropdown {
    display: block;
}




@media (max-width: 768px) {
    .sidebar {
        width: 3rem;
        padding: 0.5rem;
    }

    .sidebar ul {
        width: 3rem;
    }

    .sidebar ul li {
        height: 3.2rem;
        padding: 0 0.6rem;
    }

    .sidebar.open ul {
        width: 11rem;
    }

    .sidebar.open {
        width: 15rem;
    }

    .sidebar ul li img {
        width: 1.8rem;
    }

    .content {
        left: 4rem;
    }

    .content.expanded {
        transform: translateX(8rem);
    }

    .profile-button{
        margin-right: 40px;
    }

    .profile-button ul{
        width: 10rem;
    }
    .dropdown{
        margin-right: 30px;
    }
}